.content-wrapper {
  margin-top: 50px;

  .breadcrumb-block {
    margin-bottom: 10px;
    padding-left: 10px;

    .breadcrumb-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #7d8592;
    }
  }

  .title-block {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content-title {
      flex: 1;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      color: #0a1629;
    }

    .center-flex {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right-flex {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;
    }
  }

  .dashboard-grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2.3fr 1fr;
    grid-gap: 46px 30px;
  }

  .nearest-events-grid {
    margin-top: 28px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .projects-grid {
    margin-top: 28px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 265px 1fr;
    grid-gap: 30px;

    &.task-details {
      grid-template-columns: 265px 1fr 265px;
    }
  }

  .calendar-block {
    margin-top: 28px;
  }

  .profile-grid {
    margin-top: 28px;
    display: grid;
    grid-template-columns: 265px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  .profile-settings-grid {
    display: grid;
    grid-template-columns: 265px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }
}