.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-block {
    display: flex;
    align-items: center;
    padding: 0 19px;
    gap: 11px;
    width: 412px;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
    background-color: rgba(255, 255, 255, 1);

    .search-input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #7d8592;

      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #7d8592;
      }
    }
  }

  .right-block {
    display: flex;
    align-items: center;
    gap: 24px;

    .header-select {
      min-width: 190px;
      position: relative;
      border-radius: 14px;
      box-shadow: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
      background-color: #ffffff;
      padding: 8px;

      &.open {
        border-radius: 14px 14px 0 0;

        .select-list {
          height: auto;
        }
      }

      .select-block {
        padding: 1px 3px 1px 6px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .avatar-img {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: contain;
        }

        .select-text {
          flex: 1;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }

      .select-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        border-radius: 0 0 14px 14px;
        background: #ffffff;

        .list-wrapper {
          padding: 0 8px 8px;

          .list-block {
            border-top: 1px solid #e6ebf5;
            padding-top: 8px;

            .list-item {
              margin-bottom: 1px;
              padding: 11px;
              border-radius: 14px;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              color: #7d8592;
              cursor: pointer;

              &:hover, &.selected {
                background: rgba(63, 140, 255, 0.12);
              }

              &.selected {
                font-weight: 700;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}