.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 99;

  &.modal-open {
    display: flex;
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33, 85, 163, 0.16);
  }

  .modal-content {
    max-height: calc(100vh - 60px);
    height: auto;
    width: 584px;
    border-radius: 24px;
    box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.2);
    background: rgba(255, 255, 255, 1);
    z-index: 9;

    .modal-header {
      position: relative;
      padding: 60px 60px 0;
    }

    .modal-body {
      max-height: calc(100vh - 150px);
      padding: 0 60px 55px;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .radio-row {
        margin-top: 30px;
      }

      .modal-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .btn-primary {
          margin: 0;
        }

        &:has(.comment-block input:checked) {
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 53px;
        }
      }

      .modal-calendar-footer-row {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 30px;

        .input-container {
          flex: 1;
        }
      }

      .time-vacation {
        border-radius: 14px;
        background: rgba(244, 249, 253, 1);
        padding: 13px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 6px;
        margin-bottom: 40px;

        .title {
          color: rgba(10, 22, 41, 1);
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }

        .value {
          color: rgba(21, 192, 230, 1);
          font-size: 30px;
          font-weight: 700;
          line-height: 44px;
        }
      }
    }

    .btn.icon {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .modal-title {
      color: rgba(10, 22, 41, 1);
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
    }

    .modal-img {
      display: block;
      width: 100%;
      object-fit: contain;
      margin-top: 22px;
    }

    .modal-description {
      margin-top: 30px;
      color: rgba(10, 22, 41, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .modal-form {
      display: block;
      margin-top: 30px;

      .input-row {
        display: flex;
        gap: 16px;

        .input-container {
          flex: 1;
        }
      }

      .row {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 12px;
      }

      .back {
        margin-top: 8px;
      }

      .switch-container {
        border-radius: 14px;
        background: rgba(244, 249, 253, 1);
        padding: 24px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        margin-bottom: 27px;

        .switch-title {
          color: rgba(10, 22, 41, 1);
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }

    .btn-primary {
      margin-top: 28px;
      margin-left: auto;
    }
  }

  .timer-tracking-container {
    display: flex;
    flex-direction: column;
    height: 145px;
    margin: 24px -25px 0;
    padding: 0 25px;
    background-image: url("../../public/images/Time-log.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .timer-tracking {
      margin-top: auto;
      border-radius: 14px;
      background: rgba(244, 249, 253, 1);
      padding: 20px 25px;
      display: flex;
      align-items: center;
      gap: 26px;

      .progress-value {
        width: 38px;
        height: 38px;

        svg {
          display: block;
          object-fit: contain;

          .progress {
            --circumference: 63;
            stroke-dasharray: var(--circumference);
            stroke-dashoffset: calc(0 - (var(--circumference) * (1 - var(--progress) / 100)));
          }
        }
      }

      .details-timer-time {
        color: rgba(10, 22, 41, 1);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .details-timer-original-time {
        color: rgba(145, 146, 158, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        margin-top: 2px;
      }
    }
  }

  &.request {
    .modal-content {
      width: 608px;
    }
  }

  &.filter-modal {
    padding: 20px 40px;
    justify-content: flex-end;

    .modal-content {
      max-height: 100%;
      width: 413px;

      .modal-header {
        padding: 36px 30px 0;
      }

      .modal-body {
        height: calc(100vh - 137px);
        padding: 0 30px 36px;
      }

      .modal-title {
        margin-bottom: 30px;
      }

      .divider {
        height: 1px;
        border-bottom: 1px solid rgba(228, 230, 232, 1);
        margin-left: -30px;
        margin-right: -30px;
      }

      .filter-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;

        .filter-info {
          color: rgba(10, 22, 41, 1);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12 11C12.5128 11 12.9355 11.386 12.9933 11.8834L13 12L13 16C13 16.5523 12.5523 17 12 17C11.4872 17 11.0645 16.614 11.0067 16.1166L11 16L11 12C11 11.4477 11.4477 11 12 11ZM13.01 8C13.01 7.44772 12.5623 7 12.01 7L11.8834 7.00673C11.386 7.06449 11 7.48716 11 8C11 8.55228 11.4477 9 12 9L12.1266 8.99327C12.624 8.93551 13.01 8.51284 13.01 8Z' fill='rgb(63,140,255)' fill-rule='evenodd'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: left center;
          padding-left: 34px;
        }

        .btn-primary {
          margin-top: 0;
          margin-left: 0;
        }
      }

      .notification-item {
        padding: 20px 0;
        display: flex;
        align-items: flex-start;
        gap: 18px;

        .notifications-profile-avatar {
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .notifications-info-block {
          flex: 1;

          .notifications-info-message {
            color: rgba(10, 22, 41, 1);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            .notification-strong {
              font-weight: 700;
            }

            .notification-status {
              font-weight: 800;
              color: rgba(63, 140, 255, 1);
            }
          }

          .notifications-info-timer {
            color: rgba(125, 133, 146, 1);
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            margin-top: 9px;
          }
        }
      }
    }
  }
}